@charset "UTF-8";
/* 
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-right: 0;
}

html {
  width: 100%;
  min-height: 100%;
  font-size: 62.5%;
  font-family: 'Muli', sans-serif;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#21c08b), to(#8f57fd));
  background-image: linear-gradient(#21c08b, #8f57fd);
  color: white;
}

.main a {
  color: white;
  text-decoration: none;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.main-header__img {
  height: 60px;
  margin: 20px 0 0 20px;
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-body p {
  font-size: 20rem;
  margin-top: 150px;
}

.main-body span {
  font-size: 2rem;
  margin: 100px 0 100px 0;
}

.main-footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer a {
  margin: 10px;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}

.text {
  text-align: center;
  margin-top: 56px;
  color: #fff;
  font-size: 1.0em;
  text-transform: uppercase;
}

.animated {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(-30);
            transform: rotate(0deg) translateY(-30);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(-30);
            transform: rotate(0deg) translateY(-30);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

.hinge {
  margin: 20px;
  -webkit-animation-name: hinge;
          animation-name: hinge;
}
/*# sourceMappingURL=404error-style.css.map */