/* 
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding-right: 0;
}
    
html{
    width: 100%;
    min-height: 100%;
    // min-height: 1000px;
    font-size: 62.5%;
    font-family: 'Muli', sans-serif;
}

.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.main{
    background-image: linear-gradient(#21c08b, #8f57fd);
    color: white;
    & a{
        color: white;
        text-decoration: none;
    }
    &-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        &__img{
            height: 60px;
            margin: 20px 0 0 20px;
        }
        &__profile{
            margin: 20px 20px 0px 0px;
            display: flex;
            align-items: center;
            font-size: 2rem;
            gap: 10px;
            cursor: pointer;
            &:hover ul, ul:hover{
                display: block;
            }
            & ul{
                display: none;
                list-style: none;
                position: absolute;
                font-size: 1.2rem;
                text-align: right;
                padding: 5px;
                margin: 0px 0px -110px 14px;
                background-color: rgba(255,255,255,0.1);
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                border-radius: 10px;
            }
            & li {
                margin: 10px 0px;
                & a {
                    color: white;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            & img {
                width: 40px;
            }
        }
    }
    &-Container{
        display: flex;
        max-width: 480px;
    }
    &-body{
        display: flex;
        flex-direction: column;
        min-height: 700px;
        max-width: 90vw;

        &__title{
            font-size: 3rem;
            padding: 30px 0;
        }
        &__cardContainer{
            display: flex;
            flex-direction: row;
            overflow: auto;
            position: relative;

            transition: 450ms -webkit-transform;
            transition: 450ms transform;
            transition: 450ms transform, 450ms -webkit-transform;
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }
            &:hover &_card {
                opacity: 0.3;
                &:hover{
                    -webkit-transform: scale(1.5);
                    transform: scale(1.5);
                    opacity: 1;
                }    
            }
            &_card{
                display: flex;
                flex-direction: row;
                width: 200px;
                height: 350px;
                cursor: pointer;
                transition: 450ms all;
                -webkit-transform-origin: center left;
                        transform-origin: center left;
                margin: 100px 0px 100px 15px;
                font-size: 1.6rem;
                background-color: rgba(255,255,255,0.1);
                box-shadow: 0 10px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                &:hover ~ & {
                    -webkit-transform: translate3d(100px, 0, 0);
                            transform: translate3d(100px, 0, 0);
                }
                &:hover div, &_over:hover{
                    display: block;
                }
                &_cover{
                    top: 0px;
                    left: 0px;
                    position: relative;
                    width: 200px;
                    height: 350px;
                    object-fit: cover;
                    &:hover {
                        display: block;
                    }
                }
                & div{
                    display: none;
                    position: absolute;
                    width: 200px;
                    height: 350px;
                    transition: 450ms all;
                    background: linear-gradient(0deg, rgba(0,0,0,0.62) 10%, rgba(255,255,255,0) 100%);
                }
                &_over{
                    display: none;
                    transition: 450ms all;
                    position: absolute;
                    & p{
                        position: absolute;
                        top: 250px;
                        left: 5px;
                    }
                    & img{
                        position: absolute;
                        height: 35px;
                        top: 280px;
                        left: 5px;
                    }
                    & span{
                        display: flex;
                        flex-direction: row;
                        position: absolute;
                        width: 1000px;
                        top: 320px;
                        left: 5px;
                    }
                    & img:last-of-type{
                        left: 45px;
                    }
                }
            }
        }
        &__input{
            margin: 15px 10px 5px 0px;
            border: none;
            background: none;
            text-decoration: none;
            outline:0;
            font-size: 2.5rem;
            color: white;
            &::placeholder{
                color: lightgray;
                font-size: 2.5rem;
            }
        }
        
        &__button{
            margin: 30px 10px 15px 10px;
            padding: 10px;
            width: 220px;
            letter-spacing: 1px;
            font-size: 1.8rem;
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
            border-radius: 25px;
            border: none;
            cursor: pointer;

        }
        &__checkboxLine{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.6rem;
            margin: 15px 0px;
            & span{
                display: flex;
                align-items: center;
                gap: 10px;
            }
            & input{
                height: 30px;
                width:  30px;
            }
        }
        &__icon{
            margin: 15px 10px 0px 0px;
            & img{
                width: 25px;
                margin-right: 4px;
            }
        }

    }
    &-footer{
        height: 100px;
        display: flex;
        align-items: center;
        & a{
            margin: 10px;
            font-size: 2rem;
            text-decoration: none;
            color: white;  
        }
    }
}